/* player container */
#player{
    background-color: #e0e0e0;
    -webkit-box-shadow: 1px 1px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 14px 0px rgba(0,0,0,1);
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,1);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    margin-top: 100px;
    width: 100%;
    height: 5%;
}
#player-top{
    padding: 10px;
}
#player-center{
    border: 2px solid lightpink;
    border-image-source: linear-gradient(lightpink, lightgreen);
    border-image-slice: 5;
}
#player-bottom{
    padding: 10px;
}

/* audio player */
.ppq-audio-player .play-pause-btn .play-pause-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.ppq-audio-player {
    line-height: 111px;
    position: relative;
    overflow: hidden;
    height: 111px;
    margin: 0 auto;
    background: #f4f4f4
}
.ppq-audio-player audio {
    position: absolute;
    vertical-align: baseline
}
.ppq-audio-player .play-pause-btn {
    float: left;
    margin: 29px 0 0 12px
}
.ppq-audio-player .play-pause-btn .play-pause-icon {
    position: relative;
    display: block;
    width: 47px;
    height: 47px;
    border: 3px solid #00b8d4;
    border-radius: 100%;
    background-color: #fff
}
.ppq-audio-player .play-pause-btn .play-pause-icon:after {
    display: block;
    content: "";
    background-position: 0 0;
    width: 17px;
    height: 18px
}
.ppq-audio-player.player-playing .play-pause-icon:after {
    background-position: -25px 0;
    width: 12px;
    height: 17px
}
.ppq-audio-player .player-time {
    float: left;
    width: 51px;
    margin-right: 8px;
    text-align: right
}
.ppq-audio-player .player-time-duration {
    float: right;
    margin: 0 0 0 8px;
    text-align: left
}
.ppq-audio-player .player-bar {
    position: relative;
    overflow: hidden;
    height: 5px;
    margin-top: 53px;
    background-color: #fff
}
.ppq-audio-player .player-bar .player-bar-loaded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #ddd
}
.ppq-audio-player .player-bar .player-bar-played {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background: #00b8d4
}