/* Footer */
#footer-up{
    background-color: rgba(209, 209, 209, 0.5);
    color: #000;
    margin-top: 300px;
}
#footer-up a{
    color: #000;
    text-decoration: none;
}
h5{color: #000;}
#footer-up a:hover{
    color: #8f3985;
    text-decoration: none;
}
#footer-social{
    margin-top: 20px;
    color: #263238;
}
#footer-social a{
    color: #263238;
    text-decoration: none;
}
#footer-social a:hover{
    color: #8f3985;
    text-decoration: none;
}
#footer-copyright{
    background-color: #263238;
    color: #FFF;
}
