/* NavBar */
#topNavbar{
    z-index: 1;
    background-color: #263238;
    height: 50px;
    margin-bottom: 200px;
}
#navLogo{
    text-decoration: none;
    color: #00b8d4;
}
#navTitle{
    text-decoration: none;
    color: #00b8d4;
}
#navTitle:hover{
    text-decoration: none;
    color: #FFF;
}
#logo-title{
    text-align: center;
}
.navlink{
    margin-left: 20px;
    text-decoration: none;
    color: #FFF;
    width: 65px;
}
.navlink:hover{
    text-decoration: none;
    color: #00b8d4;
    background-color: #263238;
    border: none;
}
#navbar{
    width: 100%;
    background-color: #263238;
}
#dropdown-title{
    color:  #FFF;
}
#dropdown-title:hover{
    color:  #00b8d4;
}
.dropdown-menu{
    background-color: #263238;
    color: #FFF;
}
.dropdown-menu{
    background-color: #263238;
    color: #000;
}
.dropdown-menu a{
    text-decoration: none;
    color: #FFF;
}
.dropdown-menu a:hover{
    text-decoration: none;
}
#dropdownMenuButton{
    width: 100%;
}
