body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url('6320.png');
    background-position: top center;
    background-color: rgba(255, 255, 255, 1);
}

/* 404 */
.container404{
    width: 100%;
    height: 100%;
    background-image: url('../img/404.jpg');
    background-position: center;
}

/* btn back to top */
#toTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}

/* NavBar Search */
#navSearchTitle{
    text-decoration: none;
    color: #00b8d4;
}
#navbar-search{
    width: 100%;
    height: 75px;
    background-color: #263238;
    margin-top: 100px;
}
#search-inpt{
    width: 20px;
    background-color: white;
    background-image: url('https://png.icons8.com/material-outlined/24/000000/search.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 30px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
#search-inpt:focus{width: 250px;}

/* Jumbotron */
#welcomText{
    font-size: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px #212121;
    background: rgba(246,246,249,1);
    background: -moz-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,249,1)), color-stop(26%, rgba(226,226,233,1)), color-stop(51%, rgba(217,217,227,1)), color-stop(100%, rgba(211,212,222,1)));
    background: -webkit-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -o-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -ms-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: linear-gradient(to right, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f9', endColorstr='#d3d4de', GradientType=1 );
    margin-top: 120px;
}
#welcomText h1{}
#carouselControls{
    height: 400px;
    box-shadow: 1px 1px 10px #212121;
    background: rgba(246,246,249,1);
    background: -moz-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,249,1)), color-stop(26%, rgba(226,226,233,1)), color-stop(51%, rgba(217,217,227,1)), color-stop(100%, rgba(211,212,222,1)));
    background: -webkit-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -o-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -ms-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: linear-gradient(to right, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f9', endColorstr='#d3d4de', GradientType=1 );
    margin-top: 75px;
}

/* Formulaire */
#containeSignUp{
    margin-top: 200px;
    margin-bottom: 200px;
}
.div-form{
    background-color: rgba(209, 209, 209, 0.9);
    box-shadow: 1px 1px 10px grey;
    padding: 40px;
}
.divSideForm{
    background-color: rgba(209, 209, 209, 0.9);
    box-shadow: 1px 1px 10px grey;
    padding: 40px;
    height: 375px;
}
.title{
    font-size: 30px;
}
#btn-form:hover{
    background-color: #8f3985;
    border: none;
}
#btn-delete:hover{
    background-color: #770000;
    border: none;
}
.loginImport{
    font-size: 13px;
}

/* main content catergorie */
#containerCat{
    margin-top: 100px;
    margin-bottom: 100px;
}
.content-catergorie{
    margin-top: 100px;
    margin-left: 50px;
    width: 100%;
    height: 150px;
    background: rgba(246,246,249,1);
    background: -moz-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,249,1)), color-stop(26%, rgba(226,226,233,1)), color-stop(51%, rgba(217,217,227,1)), color-stop(100%, rgba(211,212,222,1)));
    background: -webkit-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -o-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: -ms-linear-gradient(left, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    background: linear-gradient(to right, rgba(246,246,249,1) 0%, rgba(226,226,233,1) 26%, rgba(217,217,227,1) 51%, rgba(211,212,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f9', endColorstr='#d3d4de', GradientType=1 );
    box-shadow: 1px 1px 10px grey;
    padding: 40px;
}
.content-catergorie:hover{
    margin-top: 100px;
    margin-left: 50px;
    width: 100%;
    height: 150px;
    background: rgba(241,241,249,1);
    background: -moz-linear-gradient(left, rgba(241,241,249,1) 0%, rgba(219,219,235,1) 26%, rgba(209,209,230,1) 51%, rgba(203,205,226,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,241,249,1)), color-stop(26%, rgba(219,219,235,1)), color-stop(51%, rgba(209,209,230,1)), color-stop(100%, rgba(203,205,226,1)));
    background: -webkit-linear-gradient(left, rgba(241,241,249,1) 0%, rgba(219,219,235,1) 26%, rgba(209,209,230,1) 51%, rgba(203,205,226,1) 100%);
    background: -o-linear-gradient(left, rgba(241,241,249,1) 0%, rgba(219,219,235,1) 26%, rgba(209,209,230,1) 51%, rgba(203,205,226,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,241,249,1) 0%, rgba(219,219,235,1) 26%, rgba(209,209,230,1) 51%, rgba(203,205,226,1) 100%);
    background: linear-gradient(to right, rgba(241,241,249,1) 0%, rgba(219,219,235,1) 26%, rgba(209,209,230,1) 51%, rgba(203,205,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f9', endColorstr='#cbcde2', GradientType=1 );
    box-shadow: 1px 1px 15px grey;
    padding: 40px;
}

/* player bottom */
#addToFavorite{
    text-decoration: none;
    color: #000;
}
#addToFavorite:hover{
    text-decoration: none;
    color: #8f3985;
}
#addTocheckout{
    text-decoration: none;
    color: #000;
}
#addTocheckout:hover{
    text-decoration: none;
    color: #8f3985;
}

/* add song */
#addSongForm{
    background-color: rgba(209, 209, 209, 0.9);
    box-shadow: 1px 1px 10px grey;
    padding: 40px;
}

#containerAddSong{
    margin-top: 200px;
    margin-bottom: 200px;
}

/* profils user */
#containeProfils{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
#userUpdate{
    background-color: rgba(209, 209, 209, 0.9);
    box-shadow: 1px 1px 10px grey;
    padding: 40px;
}

/* Form Contact */
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact{
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* userSongTable */
.userSongTable{
    margin-top: 150px;
}

/* checkout */
#containerCheckout{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}